.feedback {
    width: 90%;
    background-color: #fbfcfe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    box-shadow: 0px 0px 10px lightgrey;
}
.feedback__icon {
    margin-top: 20px;
}
.feedback__headliner {
    font: 500 20px 'Lato', sans-serif;
    margin-block-start: 1.3em;
    margin-block-end: 1.5em;
}
.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.feedback__input:not(textarea) {
    margin-bottom: 13px;
    width: 95%;
}
.feedback__submit-container {
    width: 95%;
}
.feedback__submit {
    width: 109px;
    background: none;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    font: normal 16px 'Lato', sans-serif;
    margin: 20px 0 30px 0;
    padding: 8px 0;
}
textarea {
    width: 95%;
    height: 209px;
    min-height: 36px;
    background: rgba(142, 142, 147, 0.1);
    color: #121212;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font: bold 11px 'Lato', sans-serif;
    outline: none;
    box-sizing: border-box;
    padding: 10px 10px 4px 10px;
    resize: none;
}
textarea:focus {
    border: 1px solid #c3c3c3;
    background: rgba(142, 142, 147, 0.12);
}
button {
    outline: none;
}
@media (min-width: 720px) {
    .feedback {
        width: 580px;
   }
}