.company {
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company__header {
    display: flex;
    align-items: center;
    width: 90%;
}
.company__logo {
    width: 90px;
    margin: 0 13px;
}
.company__name {
    font: 500 20px 'Lato', sans-serif;
}
.company__arrow-back {
    cursor: pointer;
}
@media (min-width: 700px) {
    .company__header {
        width: 580px;
   }
}