.give-away {
    width: 90%;
    box-shadow: 0px 0px 10px lightgrey;
    margin: 36px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.give-away__header {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
}
.post__header {
    display: none;
}
.give-away__header-headliner {
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    font: bold 11px 'Lato', sans-serif;
}
.give-away__logo-container {
    width: 100%;
    height: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.give-away__logo {
    position: absolute;
}
.give-away__logo-desktop {
    display: none;
}
.give-away__text {
    width: 90%;
}
.give-away__headliner {
    font: 500 16px 'Lato', sans-serif;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}
.give-away__description, .give-away__subheadliner {
    margin-block-start: 0.3em;
    margin-block-end: 25px;
    text-align: left;
    font: normal 16px 'Lato', sans-serif;
    color: #c3c3c3;
}
.give-away__form {
    width: 90%;
}
.give-away__input {
    width: 100%;
    margin-bottom: 15px;
}
.give-away__input:last-of-type {
    margin-bottom: 20px;
}
.give-away__button {
    background: none;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    font: normal 16px 'Lato', sans-serif;
    padding: 8px 16px;
    margin-bottom: 30px;
}
button {
    outline: none;
    cursor: pointer;
}
.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
@media (min-width: 550px) {
    .give-away__logo-container {
        height: 220px;
   }
}
@media (min-width: 600px) {
    .give-away__logo-container {
        height: 240px;
   }
}
@media (min-width: 650px) {
    .give-away__logo-container {
        height: 260px;
   }
}
@media (min-width: 720px) {
    .give-away {
        align-items: flex-start;
        width: 580px;
   }
   .post__header {
       width: 90%;
       display: flex;
       justify-content: space-between;
   }
    .give-away__logo-container {
        height: auto;
   }
    .give-away__header, .give-away__logo, .give-away canvas {
        display: none;
   }
    .give-away__logo-desktop {
        display: block;
        width: 100%;
   }
    .give-away__text, .give-away__form {
        width: 55%;
        padding-left: 15px;
   }
    .give-away__headliner, .give-away__subheadliner, .give-away__description {
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
   }
}