.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FBFCFE;
    top: -200%;
    left: 0;
}

.cover-active {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FBFCFE;
    animation: showCover .2s ease-in;
    animation-fill-mode: forwards;
    left: 0;
    z-index: 1;
}

.cover-active__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cover-active__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-active__header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #EDEDED;
}

.cover-active__logo-desktop {
    display: none;
}

.cover-active__form {
    width: 100%;
    text-align: center;
}

.cover-active__search-field {
    padding: 0 30px;
}

.cover-active__search-logo {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(0, -50%);
    width: 22px;
}

.cover-active__close-button {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(0, -50%);
    width: 18px;
    cursor: pointer;
}

.cover-active__last-requests {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    box-shadow: 0px 4px 11px rgba(61, 62, 64, 0.15);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.cover-active__request {
    margin: 12px 0;
}

.cover-hidden {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FBFCFE;
    animation: hideCover .5s;
    animation-fill-mode: forwards;
    left: 0;
    z-index: 1;
}

.cover-hidden .additionally__form-link {
    display: none !important;
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.categories__header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories__headliner {
    font: bold 11px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #C3C3C3;
}

.categories__shape {
    width: 100%;
    height: 1px;
    background: #EDEDED;
    margin-left: 15px;
}

.categories__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.categories__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.categories__icon:not(:first-of-type) {
    margin-left: 30px;
}

.categories__icon-description {
    font: bold 11px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #121212;
    margin-top: 10px;
}

.last {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.last__header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last__headliner {
    font: bold 11px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #C3C3C3;
}

.last__shape {
    width: 100%;
    height: 1px;
    background: #EDEDED;
    margin-left: 15px;
}

.last__requests {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.last__request {
    font: bold 11px 'Lato', sans-serif;
    display: block;
    overflow: auto;
    width: 100%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    cursor: pointer;
}

.last__request:not(:last-of-type) {
    margin-bottom: 25px;
}

.last__request:first-of-type {
    margin-top: 25px;
}

.additionally {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.additionally__header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.additionally__headliner {
    font: bold 11px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #C3C3C3;
}

.additionally__shape {
    width: 100%;
    height: 1px;
    background: #EDEDED;
    margin-left: 15px;
}

.additionally__form-link {
    width: 95%;
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.additionally__form-link svg {
    cursor: pointer;
}

.additionally__feedback-link {
    font: 500 11px 'Lato', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.additionally__feedback {
    margin-left: 10px;
}

@media (min-width: 500px) {
    .cover-active__search-logo {
        left: 10.7%;
    }

    .cover-active__close-button {
        right: 2%;
    }

    .cover-active__form {
        width: 70%;
        position: relative;
        text-align: right;
    }

    .cover-active__logo-desktop {
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }

    .cover-active__last-requests {
        left: 50%;
        margin-left: 5%;
    }
}

@media (min-width: 550px) {
    .cover-active__header {
        display: flex;
        justify-content: center;
    }

    .categories__header {
        display: none;
    }

    .categories__icons {
        justify-content: flex-start;
        padding-left: 50px;
    }

    .additionally__form-link {
        margin-left: 15px;
    }
}

@media(min-width: 720px) {
    .cover-active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cover-active__header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cover-active__body {
        width: 580px;
    }

    .cover-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1100px) {
    .cover-active__form {
        width: 900px;
        text-align: right;
    }
}

@keyframes showCover {
    from {
        top: -100%
    }

    to {
        top: 0;
    }
}

@keyframes hideCover {
    from {
        top: 0;
    }

    to {
        top: -200%;
    }
}