.dont-lose {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 36px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px lightgrey;
    min-height: 50px;
}

.dont-lose__icon {
    width: 100%;
}

.dont-lose__text {
    width: 100%;
}

.dont-lose__headliner {
    font: 500 20px 'Lato', sans-serif;
    margin-block-start: .5em;
    margin-block-end: 0;
}

.dont-lose__description {
    margin-block-start: .3em;
    margin-block-end: 25px;
    text-align: left;
    font: normal 16px 'Lato', sans-serif;
    color: #BFC8D6;
}

.dont-lose__form {
    width: 100%;
}

.dont-lose__form button {
    margin-top: 25px;
}

.dont-lose__input {
    width: 100%;
    margin-bottom: 25px;
}

.dont-lose__button {
    background: none;
    border: 1px solid #BFC8D6;
    border-radius: 6px;
    font: normal 16px 'Lato', sans-serif;
    padding: 8px 16px;
}

@media(min-width: 720px) {
    .dont-lose {
        width: 580px;
    }

    .dont-lose__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input.dont-lose__input {
        margin: 0;
        width: 77%;
        margin-right: 15px;
    }

    button.dont-lose__button {
        padding: 7px 16px;
        margin-top: 0;
    }
}