
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    padding: 10px 17px;
    height: 50px;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    position: relative;
}

.header__city-container {
    display: flex;
    flex-direction: column;
    margin-right: 7px;
    font: 11px 'Lato', sans-serif;
    text-transform: uppercase;
}

.header__city-container span:first-child {
    color: #C3C3C3;
    margin-bottom: 2px;
    cursor: pointer;
}

.header__city {
    line-height: 1;
    cursor: pointer;
}

.header__search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search-field {
    font: bold 11px 'Lato', 'sans-serif';
    width: 0;
    border: none;
    text-transform: uppercase;
    opacity: 0.8;
}

.header__search-logo {
    cursor: pointer;
}

.header div:last-child {
    display: flex;
}

.header__logo-container {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-right: 3px;
}

.header__logo {
    width: 22px;
    margin-bottom: -7.1px;
}

.popup-none {
    display: none;
}

.is-true-location {
    width: 235px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px -5px 20px 3px #d3d3d3;
    position: absolute;
    top: 45px;
    right: 53px;
    z-index: 49;
    background-color: #fbfcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}
.is-true-location__rect {
    position: absolute;
    top: -8px;
    right: 20px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #fbfcfe;
}
.is-true-location__question, .is-true-location__link {
    font: bold 11px 'Lato', sans-serif;
    text-transform: uppercase;
}
.is-true-location__link {
    color: #2f80ed;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 3px;
}

@media(min-width: 720px) {
    .header {
        justify-content: center;
        padding: 10px 0;
    }

    .header__container {
        width: 85%;
    }
}

@media(min-width: 850px) {
    .header__container {
        width: 83%;
    }
}

@media(min-width: 950px) {
    .header__container {
        width: 81%;
    }
}

@media(min-width: 1100px) {
    .header {
        justify-content: center;
        padding: 10px 0;
    }

    .header__container {
        width: 950px;
    }
}
@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
   }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
   }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
   }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
   }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
   }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
   }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
   }
    70% {
        transform: translate(2px, 1px) rotate(-1deg);
   }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
   }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
   }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
   }
}