body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.posts:first-of-type {
    margin-top: 36px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.post {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
    margin-bottom: 36px;
    position: relative;
}

.post__countdown {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top: 1px solid #eceff3;
    text-transform: uppercase;
    font: 500 11px 'Lato';
    color: #74757a;
}

.post__time {
    display: flex;
}

.days, .hours, .minutes, .seconds {
    border: 1px solid #f1f1f2;
    border-radius: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding: 1px;
    margin: 0 5px;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.post__header svg {
    cursor: pointer;
}

.post__all-stocks {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.post__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post__logo {
    margin-right: 10px;
    width: 36px;
}

.post__company-container,
.stocks__company-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__location-container {
    display: flex;
    align-items: center;
}

.post__location-container svg {
    margin-right: 3px;
}

.post__company,
.post__location,
.stocks__company {
    text-transform: uppercase;
    line-height: 10px;
    font: bold 11px 'Lato', sans-serif;
    color: #121212;
}

.post__location {
    color: #C3C3C3;
    font-weight: normal;
}

.post__video {
    width: 100%;
    cursor: pointer;
}

.post__text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post__headliner {
    margin-block-start: 0;
    font: normal 16px 'Lato', sans-serif;
}

.post__subHeadliner,
.post__description {
    margin-block-start: 0;
    font: normal 16px 'Lato', sans-serif;
    color: #C3C3C3;
}

.post__more {
    color: #2F80ED;
    cursor: pointer;
    margin-block-end: .7em;
    border-bottom: 1px solid #2F80ED;
}

.post__coupon {
    width: 220px;
    max-height: 0;
    background: none;
    border: 1px solid #C3C3C3;
    border-radius: 4px;
    font: normal 16px 'Lato', sans-serif;
    margin: 0.7em 0 1em 0;
    padding: 8px 0;
    display: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: max-height 0.3s ease-out;
}

.post__footer {
    border-top: 1px solid #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
}

.post__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

.post__icons svg {
    cursor: pointer;
}

.post__icons svg:nth-child(4), .post__icons svg:nth-child(3) {
    margin-bottom: 5px;
}

.post__icons svg:nth-child(5), .post__icons svg:nth-child(6) {
    margin-top: 5px;
}

.post__star-activated_pinned, .post__icons svg:nth-child(4), .post__icons svg:nth-child(6) {
    display: none;
}

.post__share-container {
    display: flex;
    align-items: center;
}

.post__share {
    text-decoration: underline;
    color: #121212;
    cursor: pointer;
}

.post__link {
    cursor: pointer;
}

.stocks {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #EDEDED;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.stocks__link-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stocks__logo {
    width: 60px;
    margin-right: 13px;
}

.stocks__more-stocks {
    color: #C3C3C3;
    text-transform: uppercase;
    line-height: 10px;
    font: normal 11px 'Lato', sans-serif;
}

@media(min-width: 720px) {
    .posts, .post {
        width: 580px;
    }
}

p, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Lato', sans-serif;
}