 .popup {
	 width: 90%;
	 background-color: #fbfcfe;
	 position: fixed;
	 z-index: 50;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 border-radius: 10px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 animation: showPopup 0.3s;
     animation-fill-mode: forwards;
}
 .popup__icon {
	 transform: translate(0, -50%);
}
 .popup__headliner {
	 margin-block-start: -25px;
	 margin-block-end: 0;
	 font: 500 20px 'Lato', sans-serif;
}
 .popup__description {
	 margin-block-start: 0.5em;
	 margin-block-end: 0;
	 text-align: center;
	 width: 90%;
	 font: normal 16px 'Lato', sans-serif;
	 color: #c3c3c3;
}
 .popup__form {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .popup__input-container {
	 position: relative;
	 width: 100%;
	 display: flex;
	 justify-content: center;
}
 .popup__input {
	 margin-top: 15px;
}
 .popup__arrow-container {
	 height: 36px;
	 width: 22px;
	 position: absolute;
	 top: 15px;
	 right: 8%;
	 cursor: pointer;
}
 .popup__arrow {
	 position: absolute;
	 top: 37%;
	 right: 8%;
	 cursor: pointer;
	 animation: rotateArrowDown 0.3s;
	 animation-fill-mode: forwards;
}
 .popup__arrow-up {
	 position: absolute;
	 top: 37%;
	 right: 8%;
	 cursor: pointer;
	 animation: rotateArrowUp 0.3s;
	 animation-fill-mode: forwards;
}
 .popup__buttons {
	 display: flex;
	 justify-content: space-between;
	 width: 75%;
	 margin: 25px 0 15px 0;
}
 .popup__button {
	 border: none;
	 background: none;
	 font: normal 16px 'Lato', sans-serif;
	 outline: none;
	 cursor: pointer;
}
 .popup__accept {
	 color: #2f80ed;
}
 .popup__decline {
	 color: #eb5757;
}
 .popup__disabled {
	 color: #c3c3c3;
}
 .popup-hidden {
	 width: 90%;
	 background-color: #fbfcfe;
	 position: fixed;
	 z-index: 50;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 border-radius: 10px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 animation: hidePopup 0.5s;
	 animation-fill-mode: forwards;
}
 .popup-none {
	 display: none;
}
 .main__bg-layer {
	 position: fixed;
	 z-index: 15;
	 width: 100%;
	 height: 100%;
	 background: #121212;
	 opacity: 0.7;
}
 .main__bg-layer-hidden {
	 display: none;
}

input {
    width: 90%;
    min-height: 36px;
    background: rgba(142, 142, 147, 0.1);
    color: #121212;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font: bold 11px 'Lato', sans-serif;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}
input:focus {
    border: 1px solid #c3c3c3;
    background: rgba(142, 142, 147, 0.12);
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__hint-container-active {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fbfcfe;
    animation: showHintContainer 0.3s;
    animation-fill-mode: forwards;
}

.input__hint-active {
    width: 90%;
    height: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fbfcfe;
    animation: showHintItem 0.3s;
    animation-fill-mode: forwards;
}
.input__city {
    cursor: pointer;
    margin: 2px 0;
    font: normal 15px 'Lato', sans-serif;
}
#input__hint-container-hidden.input__hint-container {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fbfcfe;
    animation: hideHintContainer 0.3s;
    animation-fill-mode: forwards;
}
#input__hint-container-hidden .input__hint {
    width: 90%;
    height: 80px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fbfcfe;
    animation: hideHintItem 0.3s;
    animation-fill-mode: forwards;
}

 @keyframes showPopup {
	 from {
		 top: -100%;
	}
	 to {
		 top: 50%;
	}
}

 @keyframes hidePopup {
	 from {
		 top: 50%;
	}
	 to {
		 top: -100%;
	}
}

@keyframes showHintContainer {
    from {
        height: 0;
    }

    to {
        height: 100px
    }
}

@keyframes showHintItem {
    from {
        height: 0;
    }

    to {
        height: 80px
    }
}

@keyframes hideHintContainer {
    from {
        height: 100px;
    }

    to {
        height: 0
    }
}

@keyframes hideHintItem {
    from {
        height: 80px;
    }

    to {
        height: 0
    }
}

@keyframes rotateArrowUp {
    from {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes rotateArrowDown {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

 @media (min-width: 360px) {
	 .popup, .popup-hidden {
		 width: 300px;
	}
}