.popup-share {
    width: 90%;
    background-color: #fbfcfe;
    position: fixed;
    z-index: 49;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: showPopup 0.3s;
    animation-fill-mode: forwards;
}
.popup-share__item {
    text-align: center;
    width: 100%;
    font: 500 16px 'Lato', sans-serif;
    line-height: 50px;
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;
    outline: none;
    color: black;
}
.popup-share__item:not(:nth-child(5)) {
    border-bottom: 1px solid #ededed;
}
.popup-share-hidden {
    width: 90%;
    background-color: #fbfcfe;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: hidePopup 0.5s;
    animation-fill-mode: forwards;
}
.popup-share-none {
    display: none;
}
@keyframes showPopup {
    from {
        top: -100%;
   }
    to {
        top: 50%;
   }
}
@keyframes hidePopup {
    from {
        top: 50%;
   }
    to {
        top: -50%;
   }
}
@media (min-width: 360px) {
    .popup-share, .popup-share-hidden {
        width: 300px;
   }
}