.video-popup {
    display: none;
}
.video-popup__active {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%, -50%);
    animation: showPopup 0.3s;
    animation-fill-mode: forwards;
    background: none;
}
.video-popup__active__close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -50px;
}
.video-popup__active__video, .video-popup__active__cover {
    display: block;
    width: 100%;
}
.video-popup__active__video {
    margin-bottom: 20px;
}
.video-popup__hidden {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%, -50%);
    animation: hideVideo 0.3s;
    animation-fill-mode: forwards;
}
.video-popup__hidden .video-popup__active__close {
    display: none;
}
@keyframes hideVideo {
    from {
        top: 50%;
   }
    to {
        top: -100%;
        visibility: hidden;
   }
}